.bg-blue{
    background-color: rgb(80, 145, 175);
}
main .alert{
    position: absolute;
    z-index: 999;
    top: 11rem;
    left:40%
}
h1{
    color: white;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}
main{
    margin-bottom: 50px;
}
.li:hover{
    background-color: rgb(107, 187, 207);

}
.login{
    margin-top: 20%;
    margin-left: 30%;

   
    border-radius: 15px;
}
.tam h2{
    font-size: 100px;
}
.bg-l{
    background-color: rgb(199, 199, 199);
}